.input-group-addon {
  font-size: 1.2em;
  cursor: pointer;
}

.form-date{
  .form-group.date_picker{
    margin: 0 10px;
  }
  input.date_picker{
    font-size: $font-size-large;
    width: 120px !important;
  }
  .arrow{
    font-size: 2em;
    line-height: 1;
    vertical-align: middle;
    color: $gray-light;
    padding: 0;
  }
}

form{
  .buttons{
    padding-top: 15px;
    .btn:first-child{
      margin-right: 20px;
    }
  }
}

.icheckbox_square-green{
  margin-left: 10px;
}