@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-quylel');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-quylel') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?-quylel') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?-quylel') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?-quylel#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-quote_right:before {
  content: "\e60e";
}
.icon-quote_left:before {
  content: "\e60f";
}
.icon-tool:before {
  content: "\e600";
}
.icon-platform:before {
  content: "\e601";
}
.icon-client:before {
  content: "\e602";
}
.icon-model:before {
  content: "\e603";
}
.icon-arrow_right:before {
  content: "\e604";
}
.icon-arrow_left:before {
  content: "\e605";
}
.icon-vk:before {
  content: "\e606";
}
.icon-facebook:before {
  content: "\e607";
}
.icon-ginza:before {
  content: "\e608";
}
.icon-datumdental:before {
  content: "\e609";
}
.icon-zumba:before {
  content: "\e60a";
}
.icon-marijos:before {
  content: "\e60b";
}
.icon-rock_spa:before {
  content: "\e60c";
}
.icon-arrow:before {
  content: "\e60d";
}
